<div class="container mx-auto px-4">
  <h2 class="text-center text-2xl font-semibold text-gray-800 mb-4">Mes Candidatures</h2>

  <div *ngIf="errorMessage" class="text-red-500 text-center">{{ errorMessage }}</div>

  <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
    <thead class="bg-gray-200">
    <tr>
      <th class="px-4 py-2 text-left">Titre de l'annonce</th>
      <th class="px-4 py-2 text-left">Entreprise</th>
      <th class="px-4 py-2 text-left">Lettre de motivation</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let candidature of candidatures" class="border-b hover:bg-gray-50">
      <td class="px-4 py-2">{{ candidature.annonce_id }}</td>
      <td class="px-4 py-2">{{ candidature.annonce_id }}</td>
      <td class="px-4 py-2">{{ candidature.lettreMotivation }}</td>
    </tr>
    </tbody>
  </table>
</div>
