<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page d'accueil</title>
  <link rel="stylesheet" src="home.comonent.css"> <!-- Lien vers ton fichier CSS -->
</head>
<body>
<div class="container">
  <mat-slide-toggle>click !</mat-slide-toggle>
  <div class="left-section">
    <img src="" alt="Image" class="image">
  </div>
  <div class="right-section">
    <h1>Je gère mes candidatures</h1>


  </div>
</div>
</body>
</html>
