<!-- Main Content -->
<div class="container mx-auto px-4 flex flex-col min-h-screen">
  <h2 class="text-center text-2xl font-semibold text-gray-800 mb-4">Liste de mes annonces</h2>

  <!-- Bouton pour afficher/masquer le formulaire -->
  <button (click)="toggleForm()" class="bg-blue-500 text-white py-2 px-4 rounded mb-4 hover:bg-blue-700">
    Ajouter une annonce
  </button>

  <!-- Formulaire pour ajouter une annonce -->
  <div *ngIf="formVisible" class="bg-white shadow-lg rounded-lg p-4 mb-8">
    <form [formGroup]="annonceForm" (ngSubmit)="postAnnonce()">
      <div class="mb-4">
        <label for="titre" class="block text-sm font-medium text-gray-600">Titre</label>
        <input type="text" id="titre" formControlName="titre" class="w-full p-2 border border-gray-300 rounded" />
      </div>
      <div class="mb-4">
        <label for="description" class="block text-sm font-medium text-gray-600">Description</label>
        <input type="text" id="description" formControlName="description" class="w-full p-2 border border-gray-300 rounded" />
      </div>
      <div class="mb-4">
        <label for="localisation" class="block text-sm font-medium text-gray-600">Localisation</label>
        <input type="text" id="localisation" formControlName="localisation" class="w-full p-2 border border-gray-300 rounded" />
      </div>
      <div class="mb-4">
        <label for="salaire" class="block text-sm font-medium text-gray-600">Salaire</label>
        <input type="text" id="salaire" formControlName="salaire" class="w-full p-2 border border-gray-300 rounded" />
      </div>
      <button type="submit" class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-700">
        Soumettre l'annonce
      </button>
    </form>
  </div>

  <!-- Table des annonces -->
  <div class="bg-white shadow-lg rounded-lg overflow-hidden table-container">
    <table class="min-w-full table-auto">
      <thead class="bg-gray-200">
      <tr>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Titre</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Localisation</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Salaire</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Entreprise</th>
        <th class="px-4 py-2 text-left text-sm font-semibold text-gray-600">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let annonce of annonces" class="border-b hover:bg-gray-50">
        <td class="px-4 py-2 text-sm text-gray-800">{{ annonce.titre }}</td>
        <td class="px-4 py-2 text-sm text-gray-800">{{ annonce.localisation }}</td>
        <td class="px-4 py-2 text-sm text-gray-800">{{ annonce.salaire }}</td>
        <td class="px-4 py-2 text-sm text-gray-800">{{ annonce.entreprise?.nom_entreprise || 'Non spécifié' }}</td>
        <td class="px-4 py-2 text-sm">
          <button class="text-red-500 hover:text-red-700" (click)="deleteAnnonce(annonce.id)">
            Supprimer
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
